<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <ul>
      <li><a href="{{ url_for('feed') }}">Instagram</a></li>
      <li><a href="{{ url_for('profile-photos', user_id=user_id) }}">Profile</a></li>
      <li><a href="{{ url_for('upload-photo') }}">Upload</a></li>
      <li><a href="{{ url_for('profile-settings', user_id=user_id) }}">Settings</a></li>
      <li style="float:right"><a href="{{ url_for('logout') }}">Logout</a></li>

      <div style="margin-top:10px; float:right">
          <form method="post" action="">
            {{ form.csrf_token }}
            {{ form.name.label }}
            {{ form.name(size=30) }}
            {{ form.search() }}
          </form>
      </div>
    </ul>

    {% for post in posts %}
        <a href="{{ post.detail_url() }}"><img src="{{ post.url() }}" width="15%" height="15%" alt="">
    {% endfor %}
</body>
</html>