<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="user-profile">
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" height="100" width="100" src="{{ image_file }}">
                <div class="media-body">
                    <br>
                    <h2 class="account-heading">{{ user_name }}</h2>
                    <form method="post" enctype="multipart/form-data">
                        Upload profile picture: <small><input type="file" name="profilepicture"></small><br>
                        <small><input type="submit"></small>
                    </form>
                </div>
            </div>
        </div>
    <div>
</body>
</html>