<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <form method="post">
            User Name: <input type="text" name="user_name"><br/>
            Email: <input type="email" name="email"><br/>
            Password: <input type="password" name="password"><br/>

            <input type="submit">
            <small><a href="{{ url_for('login') }}">Already have an account?</a></small>
        </form>
    </body>
</html>