ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.center-block {
  display: table;
  margin: 0 auto;
}

ul.new-style {
    text-align: center;
    background-color: #FFFFFF;
}

li.new-style {
    display: inline-block;
    background-color: #FFFFFF;
}

.user-profile {
  margin: auto;
  width: 25em;
  height: 11em;
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
}

